:root {
  --primary_color: #0154AA;
  --secondary_color: #01274e;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('./fonts/NeueHaasDisplay-Roman.eot');
    src: url('./fonts/NeueHaasDisplay-Roman.eot?#iefix') format('embedded-opentype'),
        url('./fonts/NeueHaasDisplay-Roman.woff2') format('woff2'),
        url('./fonts/NeueHaasDisplay-Roman.woff') format('woff'),
        url('./fonts/NeueHaasDisplay-Roman.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
  font-family: 'Neue Haas Grotesk Display Pro';
  overflow-x: hidden;
  background-color: #F4F4F4;
}

body::-webkit-scrollbar { 
    width:10px; 
    height:10px; 
} 

body::-webkit-scrollbar-button:start:decrement, 
body::-webkit-scrollbar-button:end:increment { 
    display:none; 
} 
body::-webkit-scrollbar-track-piece { 
    background-color:#ecedf1; 
    -webkit-border-radius:0px; 
    border-left:1px solid #ccc; 
} 
body::-webkit-scrollbar-thumb:vertical { 
    -webkit-border-radius:0px; 
    background:var(--primary_color); 
}

a {
  text-decoration: none;
  color: #000;
}



a:hover,
a:focus {
  text-decoration: none;
  color: #000;
}

a:hover {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li{
  list-style-type: none;
}


input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus,
select:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  outline: none;
}


/*Header Section Begin*/

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1342px;
}

header {
    padding: 20px 0;
    background: #fff;
}

.menu__app__main {
    display: flex;
    align-items: center;
}

.app_menu {
    padding-left: 30px;
}

.app_menu ul li {
    display: inline-block;
}

.app_menu ul li a {
    color: #737A91;
    font-size: 16px;
    line-height: 19.2px;
    padding: 0 20px 0 0;
}

.app_menu ul li.active a
{
    color: var(--primary_color);
    font-weight: 600;
}

.app_menu ul li a:hover{
  color: var(--primary_color);
}

.search__input input {
    background: rgba(246, 249, 255, 1);
    border: 0;
    font-size: 14px;
    width: 240px;
    height: 39px;
    border-radius: 8px;
    padding: 0 0px 0 45px;
}

.search__input {
    position: relative;
}

.search__input img {
    position: absolute;
    top: 10px;
    left: 15px;
}

.search__app {
    display: flex;
}

.resume__btn button {
    background: var(--primary_color);
    border: 0;
    color: #fff;
    font-size: 16px;
    width: 140px;
    height: 39px;
    border-radius: 8px;
    font-weight: 500;
    margin-left: 15px;
    transition: 0.5s ease-in-out;
}

.resume__btn button:hover {
    background: var(--secondary_color);
}

.search__main {
    display: flex;
}

.profile__user__img {
    padding-left: 10px;
}

/*Header Section End*/


/*Center Section Main Section Begin*/

.main__Sec__center {
    padding: 35px 0;
}

.user__profile__box {
    background: #fff;
    border-radius: 10px;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.cover__user img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.profile__circle {
    text-align: center;
    margin: -40px 0 10px 0px;
}

.user_name__app {
    text-align: center;
}

.user_name__app h2 {
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-weight: 600;
}

.user_name__app ul li {
    display: inline-block;
    font-size: 14px;
    position: relative;
    padding: 0 8px 0 8px;
    font-weight: 500;
}

.user_name__app ul li:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 19px;
    background: rgba(51, 51, 51, 1);
    right: 0;
}

.user_name__app ul li:nth-last-child(1):after {
    background: transparent;
}

.user_name__app ul {
  padding: 0 10px 5px;
}

.user_name__app h5 {
    color: rgba(88, 93, 110, 1);
    font-size: 13px;
}

.profile__links {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px 20px;
}

.profile__links li {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgba(233, 236, 239, 1);
    color: rgba(51, 51, 51, 1);
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
}

.profile__links li span {
    color: var(--primary_color);
}

.profile__links li:nth-last-child(1) {
    border: 0;
}

.upcomming__event {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px 20px 5px;
    position: relative;
}

.upcomming__event h2 {
    font-size: 16px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 0;
}

.upcomming__event p {
    color: rgba(115, 122, 145, 1);
    font-size: 14px;
}

.arrow__event {
    position: absolute;
    right: 20px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5%;
}

.name__des h2 {
    font-size: 22px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
}

.name__des h2 span {
    color: var(--primary_color);
}

.name__des p {
    font-size: 14px;
    color: rgba(88, 93, 110, 1);
}

.job__search {
    background: #fff;
    padding: 24px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0px;
}

.search__input__job input {
    height: 37px;
    width: 480px;
    border: 0;
    font-size: 14px;
    border-right: 1px solid rgba(233, 236, 239, 1);
}

.select__location select {
    width: 150px;
    height: 37px;
    border: 0;
    font-size: 14px;
    color: rgba(88, 93, 110, 1);
    margin-left: 10px;
}

.select__type select {
    width: 130px;
    height: 37px;
    border: 0;
    font-size: 14px;
    color: rgba(88, 93, 110, 1);
    border-left: 1px solid rgba(233, 236, 239, 1);
    margin-left: 10px;
    padding: 0 0px 0 5px;
}

.search__btn button {
    border: 0;
    background: var(--primary_color);
    color: #fff;
    padding: 10px 30px 10px 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: 20px;
    transition: 0.5s ease-in-out;
}

.search__btn button:hover {
    background: var(--secondary_color);
}

.search__btn button img {
    filter: brightness(0) invert(1);
    padding: 0 8px;
}

.tags__box span {
    color: rgba(115, 122, 145, 1);
    font-size: 14px;
    padding-right: 10px;
}

.tags__box ul li a {
    font-size: 12px;
    color: rgba(115, 122, 145, 1);
    border: 1px solid rgba(115, 122, 145, 1);
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
}

.tags__box ul li {
    display: inline-block;
    padding: 0 20px 0 0;
}

.tags__box {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #e9ecef;
    padding: 0 0 15px 0;
}

.tags__box ul li a:hover {
    background: var(--primary_color);
    color: #fff;
    border-color: var(--primary_color);
}

.post__job__heading h4 {
    font-size: 18px;
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
}

.post__job__heading {
    display: flex;
    padding: 0 0 15px 0;
}

.post__job__heading a {
    padding: 0 0px 0 20px;
    font-size: 14px;
    text-decoration: underline;
    color: var(--primary_color);
}

.box__applied__box {
    background: #fff;
    padding: 10px 20px 20px;
    border-radius: 10px;
}

.box__applied__box span {
    font-size: 10px;
    font-weight: 600;
}

.title__icon {
    display: flex;
}

.icon__job {
    background: rgba(255, 255, 255, 1);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.tile__des h3 {
    font-size: 13px;
    margin: 0;
    font-weight: 500;
}

.tile__des {
    padding-left: 10px;
}

.tile__des h6 {
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
    font-size: 12px;
}

.job__listing__list ul li {
    color: rgba(88, 93, 110, 1);
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 0 5px 0;
}

.job__listing__list ul li span {
    color: var(--primary_color);
    padding-left: 4px;
}

.job__listing__list ul li img {
    padding: 0 5px 0 0;
}

.btn__app button {
    background: var(--primary_color);
    border: 0;
    color: #fff;
    width: 110px;
    height: 34px;
    border-radius: 6.13px;
    transition: 0.5s ease-in-out;
    font-size: 12px;
}

.apply_btn {
    display: flex;
    padding: 10px 0 0 0;
    justify-content: space-between;
    align-items: center;
}

.btn__app button:hover {
    background: var(--secondary_color);
}

.Job__box .col-sm-3 {
    width: 20%;
}

.job_box__app {
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.job_box__app:nth-last-child(1) {
    border: 0;
}

/*Center Section Main Section End*/